logistic algo basically deals with clasificaiton

Residual = Error are same term
error = y^ minus y #formula

in classification: there willbe two lines forex if true and fasle
    and these lines are called outliers
    this is called Sigmoid Graph

half normal distrunution graph(probit reg or cumalated distribution graph or probit distribution graph) and sigmoid graph looks somewhat similiear

in linear reg : we say error should be minium
in sigmoud graph : loss of entropy or cross entropy or log loss  should be minimum

regression mns it's prediction that involes outcome can be in a form of num or deciml or float

supervised can be of regression or classification type

k-nearest algo works for both

linear regression: y = mx+c

log-istic regression :
eqn of line : log(y/1-y)=mx+c
    
logit func : y = 1/1+e^-(mx+c)
    
both logistic and logit fun are same

In [1]:
import numpy as np #mostly use for linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import math

In [2]:
# student pass /fail based on num of hrs studied
no_of_hrs = [0.5,0.75,1,1.25,1.5,1.75,2,2.25,2.5,2.75,3,3.25,3.5,3.75,4,4.25,4.5,4.75,5,5.5]

In [4]:
len(no_of_hrs)

20

In [5]:
pass_or_fail = [0,0,0,1,0,0,1,0,0,0,1,1,1,1,0,0,1,1,0,1]

In [6]:
len(pass_or_fail)

20

In [7]:
hrs = pd.Series(no_of_hrs)
passOrfail = pd.Series(pass_or_fail)

In [8]:
hrs

0     0.50
1     0.75
2     1.00
3     1.25
4     1.50
5     1.75
6     2.00
7     2.25
8     2.50
9     2.75
10    3.00
11    3.25
12    3.50
13    3.75
14    4.00
15    4.25
16    4.50
17    4.75
18    5.00
19    5.50
dtype: float64

In [9]:
passOrfail

0     0
1     0
2     0
3     1
4     0
5     0
6     1
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    0
15    0
16    1
17    1
18    0
19    1
dtype: int64

In [10]:
concatData = pd.concat([hrs,passOrfail],axis = 1)

In [11]:
concatData

       0  1
0   0.50  0
1   0.75  0
2   1.00  0
3   1.25  1
4   1.50  0
5   1.75  0
6   2.00  1
7   2.25  0
8   2.50  0
9   2.75  0
10  3.00  1
11  3.25  1
12  3.50  1
13  3.75  1
14  4.00  0
15  4.25  0
16  4.50  1
17  4.75  1
18  5.00  0
19  5.50  1

In [12]:
df = pd.DataFrame(concatData)

In [13]:
df

       0  1
0   0.50  0
1   0.75  0
2   1.00  0
3   1.25  1
4   1.50  0
5   1.75  0
6   2.00  1
7   2.25  0
8   2.50  0
9   2.75  0
10  3.00  1
11  3.25  1
12  3.50  1
13  3.75  1
14  4.00  0
15  4.25  0
16  4.50  1
17  4.75  1
18  5.00  0
19  5.50  1

In [14]:
# df.rename(columns={0:'no of hrs studied' , 1 : 'pass or fail'} , inplace = True)

In [15]:
# df

In [16]:
plt.figure(figsize=[15,15])
sns.scatterplot(x='no of hrs studied', y='pass or fail' , data=df)

ValueError: Could not interpret value `no of hrs studied` for parameter `x`

In [17]:
# type(df)
# str(df)

def sigmoid(x):
    a = []
    for item in x:
        a.append(1/(1+Decimal(-item)))
    return a


sig = sigmoid(concatData.astype('float64'))
# # plt.plot(df,sig)
# plt.plot(x,sig)
# plt.show()

NameError: name 'Decimal' is not defined